

body {
  font-family: Arial, sans-serif;
  background-color: #ADD9D1;
  text-align: center;
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #025C5C;
  padding: 17px;
}


.logo img{
  position: absolute;
  margin: top 15px;
  margin-left: -300px;
}


.navbar a {
  color: #F5EFE5;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}


h1 {
  color: #025C5C;
  margin-top: 0px;
}

h2 {
  color: #025C5C;
  margin-top: 30px;
}

h3 {
  color: #025C5C;
  margin-top: 30px;
}

p {
  color: #025C5C;
  margin-top: 15px;
  font-weight: bold;
}


form {
  margin-top: 20px;
}

input, textarea {
  padding: 10px;
  margin: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #025C5C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #014a4a;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.brand {
  color: #025C5C;
  font-size: 32px;
  font-weight: bold;
}

.bordered {
  border: 2px solid #000000;
}

h4 {
  color: #025C5C;
  margin-top: 5px;
}

a{
  color: #025C5C;
}
